.header {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0 6px 0;
    grid-area: header;
}


@media only screen and (max-width: 800px){
    img{
        padding-left: 12px;
        
    }
    .header {
        width: 100%;
    }
}